

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.errMsg{
  color: red;
}
.app-check{
  height: 1rem;
  width: 1rem;
  margin: 1.5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Homme page style */

.navbar{
  background-color: black;
  color: white;
}
.navItem{
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
}
.navItem>  a{
  margin-top: 6px;
  text-decoration: none;
  /* list-style: none; */
  color: white;
  cursor: pointer;
}

.searchField{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 1rem;
  }
.searchField >input{
  border: 2px solid black;
  border-radius: 0.5rem;
}

/* pagination sytling */
.paginationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* details page styling */
.detailsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-direction: column;
}


/* Background gradient color */
body {
	background: linear-gradient(-45deg, #eee952, #e4192e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
